<html>
<head>
  <title>Signup</title>
  <link rel="stylesheet" href="../css/signup.css" />
</head>
<body>
  <div class="container">
    <div class="signupCard">
      <div class="head">Signup</div>
      <form action="/signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>
    
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>
    
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
    
        <label for="role">Role:</label>
        <select name="role">
          <option value="user">User</option>
          <option value="employee">Employee</option>
        </select>
        <div class="buttoncontainer">
          <button type="submit">Signup</button>
          <a href="/login"><button type="button">Login</button></a>
        </div>
        
      </form>
    </div>
  </div>
  
</body>
</html>
